<div id="proyectos" class="container-fluid">
    <div id="proyectos-titulo" class="row"><h2>Proyectos</h2></div>
    <div id="contenedor-proyectos" class="row container-fluid">
        <div class="elemento row p-3">
            <div class="elemento-img col-3"> <img src="" alt="Imagen"> </div>
            <div class="elemento-txt col-9" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat vel velit non mollis. Suspendisse tincidunt, nibh et porta posuere, diam est tristique sapien, quis maximus augue nibh ac erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. </div>
        </div>
        <div class="elemento row p-3">
            <div class="elemento-img col-3"> <img src="" alt="Imagen"> </div>
            <div class="elemento-txt col-9" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat vel velit non mollis. Suspendisse tincidunt, nibh et porta posuere, diam est tristique sapien, quis maximus augue nibh ac erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. </div>
        </div>
        <div class="elemento row p-3">
            <div class="elemento-img col-3"> <img src="" alt="Imagen"> </div>
            <div class="elemento-txt col-9" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat vel velit non mollis. Suspendisse tincidunt, nibh et porta posuere, diam est tristique sapien, quis maximus augue nibh ac erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. </div>
        </div>
    </div>

</div>