<div id="habilidades"><h2>habilidades</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="row"> Nombre de habilidad</div>
            <div class="row p-3">
                <div class="elemento-img "> <img src="" alt="Imagen"> </div>
            </div>
            <div class="row p-3"> Nombre de habilidad</div>
            <div class="row">
                <div class="elemento-img "> <img src="" alt="Imagen"> </div>
            </div>
            <div class="row p-3"> Nombre de habilidad</div>
            <div class="row">
                <div class="elemento-img "> <img src="" alt="Imagen"> </div>
            </div>
        </div>
    </div>

</div>
<div class="separator"></div>