<div class="container-fluid">
    <div id="navbar" class="row align-items-center justify-content-between" >
        <div id="navbar-izq" class="col-6">
            <img [src]="miPortfolio.argentinaProgramaImage" alt="logo de argentinaprograma">
            {{miPortfolio.leyenda}}
        </div>
        <div id="navbar-der" class="col-5 text-end p-3">
                <a href="https://github.com/David-Frances" target="_blank" class="link-light"><i class=" fa-brands fa-github fa-2xl"></i></a>
                <a href="https://twitter.com/AFoolishDream" target="_blank" class="link-light"><i class="fa-brands fa-twitter fa-2xl"></i></a>
                <a href="https://www.linkedin.com/in/david-frances-28144220a/" target="_blank" class="link-light"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                <button class="btn btn-block btn-success ">Log In</button>
            
        </div>
    </div>
    <img id="banner" class="img-fluid mx-auto " [src]="miPortfolio.bannerImage" alt="banner representativo">
</div>