<div class="container-fluid">
    <div id="navbar" class="row align-items-center justify-content-between" >
        <div id="navbar-izq" class="col-6">
            <img [src]="miPortfolio.header.programImage" alt="logo de argentinaprograma">
            {{miPortfolio.header.programName}}
        </div>
        <div id="navbar-der" class="row col-5 text-end  p-3">
          <ul dir="rtl" class="col justify-items-end list-group list-group-horizontal">
                <li *ngFor="let network of miPortfolio.header.networks"><a [href]="network.url" target="_blank" class="link-light "><i [class]="network.class"></i></a></li>

          </ul>
          <button class="btn btn-block btn-success col-2 ">Log In</button>

        </div>
    </div>
    <img id="banner" class="img-fluid mx-auto " [src]="miPortfolio.header.bannerImage" alt="banner representativo">
</div>
